/* ================================================================= */

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat; /*  quando ele passa do 24px, ele repete a imagem */
    background-position: center;
    display: inline-block; /* se fosse só inline, n daria pra ter width e height */
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* libera a opção de por top, left, bottom, up */
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

/* ================================================================= */


.lista-menu {
   display: none;
   position: absolute; /* permite que movimente seu elemento de acordo com o pai que teve a position sem static */
   top: 100%; /* ou seja, tirou 100% di cabeçalho e ficou pra baixo */
   width: 60vw;
}

.container__botao { /* checkbox caixinha */
    display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__item a {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}






/*

.lista-menu {
   display: none;
}

.container__botao:checked~.lista-menu {
    display: block;
}

checked = detecta se tá preenchida a input checkbox

~ = combinador css, ele procura outro elemento que vem
    em seguida daquele de antes que tem a classe que é posta depois
    
É o mais proximo de um condicional (JS)

se o container tiver checked, ele vai procurar outro que venha depois dele com
a classe lista-menu  e vai por display block nele, se não tiver, faz nada.
e também se não tivesse no checked, ia fazer nada.
    */


    /* ================================================================= */

    