@import url("./header.css"); /* pra não encher o HTML e ser mais rápido o carregamento da página */
@import url("./banner.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
/* font-family: 'Poppins', sans-serif; */



:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);

    --fonte-principal: "Poppins";
}

body {
    background: black;
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;

}



